.about-button:hover {
  background-color: #ee4b28;
  color: #fff;
}

.self-portrait {
  display: block;
  height: 300px;
  margin: 20px auto;
  width: 450px;
  border: 1px solid black;
}

.email {
  padding-top: 20px;
}

.email-icon:hover {
  cursor: pointer;
}

#contact {
  padding: 100px 0 10px 0;
}

footer {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0 0 10px;
  width: 80%;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0 40px 0;
  padding-left: 0;
}

footer ul li {
  list-style: none;
}

.social-media {
  height: 50px;
  width: 50px;
  margin: 0 7px;
}

.switch-icon .dark-icon {
  display: none;
}

.switch-icon:hover .social-media,
.switch-icon:active .social-media {
  display: none;
}

.switch-icon:hover .dark-icon {
  display: block;
  margin: 0 7px;
}

.copyright {
  color: #333;
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 420px) {
  .self-portrait {
    height: 200px;
    width: 300px;
  }
}
